h1{
    text-align: center;
    border: 2px;
    padding: 50px;
    background-color: #6D19D4;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FA57B5;
    text-shadow: 0 0 9px #FF0000;
    box-shadow: 0 0 9px #FF0000;

}

section{
    display: inline-block;
    margin: 50px;
    width: 300px;
    height: 450px;

}

img{
    height: 400px;
    width: 300px;

}

main{
    padding: 70px;
    background-color:#2866EB;
    border: 2px solid;
    border-color: #6D19D4;
    box-shadow: 0 0 9px #FF0000;
}

header{
    text-align: center;
    border: 2px solid;
    padding: 50px;
    background-color: #5064EB;
    BORDER-COLOR: #6D19D4;
    box-shadow: 0 0 9px #FF0000;

}

p{
    color: #02FA1F;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    text-align: center;

}

footer {
    border: 2px solid;
    padding: 10px;
    background-color: #5064EB;
    border-color:#6D19D4;
    box-shadow: 0 0 9px #FF0000;


}

.fn {
    color: whitesmoke;
    font-size: 19px;
    font-style: italic;
    font-weight: bold;
    text-align: left;

}
